* {
    box-sizing: border-box;
    Margin: 0;
    Padding: 0;
}

body {
    height: 100vh;
}

#logo {
    font-size: 7vh;
    font-weight: bold;
    font-style: italic;
    width: 25vw;
    align-self: center;
    text-align: center;
    color: #970f11;
}

.navContainer {
    display: flex;

}

ul {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 75vw;
    text-align: center;

}

a {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: black;
}

li:nth-child(3) {
    color: #06b;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #970f11;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #970f11;
    transition: 0.1s;
    color: #970f11;
    font-weight: bold;
}

li {

    list-style: none;
    display: flex;
    justify-items: center;
    height: 10vh;
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: 10% 50% 30% 10%;
    grid-template-rows: 50% 50%;
    height: 85vh;
    background-color: white;

}

.imageOne {
    background-image: url(./bilder/bilcollage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #15172b;

}

.imageTwo {
    background-image: url(./bilder/th-960885302.jpg);
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #15172b;
    background-position: center;
}

.form {
    background-color: #15172b;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    width: 100%;

    grid-column: 3/4;
    grid-row: 1/3;
}

.textInfo {

    grid-column: 2/3;
    grid-row: 2/3;
}

.formTitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.formSubtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.inputContainer {
    height: 50px;
    position: relative;
    width: 100%;
}

.firstBox {
    margin-top: 40px;
}

.secondBox {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cutShort {
    width: 50px;
}

.cutLong {
    width: 98px;
}

.cutMedium {
    width: 86px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}